<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" href="css/serveWebDot.css">
    <script src="js/jquery.min.3.3.1.js"></script>
</head>

<body>
	<!--头部-->
	<div class="wrap-head">
		<header class="wrap-header">
			<img class="logo" src="images/logo.png" />
			<input class="search" placeholder="请输入关键字搜索" type="text" />
			<ul class="tab">
				<li class="active">首页</li>
				<li>个人服务</li>
				<li>企业服务</li>
				<li>同业金融</li>
				<li>人才招聘</li>
				<li>关于玉山</li>
			</ul>
			<div class="language">
				<span class="active">简</span>
				<em>|</em>
				<span>繁</span>
			</div>
			<div class="service">联系客服</div>
		</header>
	</div>
	<!--主要内容-->
	<div class="wrap-main">
		<div class="wrap-body">
			<div class="wrap-left">
				<h6>常用功能</h6>
				<ul>
					<li>利汇率查询</li>
					<li>收费标准</li>
					<li>常见问题</li>
					<li>表单下载</li>
					<li>金融计算器</li>
					<li class="active">网点预约</li>
				</ul>
			</div>
			<div class="wrap-right">
                <div class="content-tab">
                    <span>首页</span> /
                    <span>常用功能</span> /
                    <span>网点预约</span>
                </div>
                <hr class="hr-setting">
                <div class="form-box">
                    <div class="input-item">
                        <span>网店名称关键词:</span>
                        <input type="text" placeholder="请输入">
                    </div>
                    <div class="input-item">
                        <span>选择省份:</span>
                        <div class="select" tabindex="1">
                            <ul class="option">
                                <li value="" >请选择</li>
                                <li value="1">广东省</li>
                                <li value="1">广东省</li>
                                <li value="1">广东省</li>
                                <li value="1">广东省</li>
                                <li value="1">广东省</li>
                                <li value="1">广东省</li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-item">
                        <span>选择城市:</span>
                        <select >
                            <option value="" disabled selected style="display: none;">请选择</option>
                            <option value="beijing">北京</option>
                            <option value="beijing">上海</option>
                            <option value="beijing">广州</option>
                            <option value="beijing">深圳</option>
                            <option value="beijing">北京</option>
                            <option value="beijing">上海</option>
                            <option value="beijing">广州</option>
                            <option value="beijing">深圳</option>
                        </select>
                    </div>
                    <button  class="query-btn" type="submit">查询</button>
                </div>
			</div>
		</div>
		
	</div>
	
	<!--底部-->
	<div class="wrap-bottom">
		<div class="wrap-body">
			<div class="news">
				<div class="left">
					<dd>联系电话：</dd>
					<dt>0755-8898-1313</dt>
					<dd>银行地址：</dd>
					<dt>深圳市前海深港合作区梦海大道5033号卓越前海壹号7栋30-31楼</dt>
					<dd>网点信息</dd>

				</div>
				<div class="right">
					<div>
						<img src="images/page.png">
						<p>官方微信公众号</p>
					</div>
					<div>
						<img src="images/page.png">
						<p>官方微信公众号</p>
					</div>
					<div>
						<img src="images/page.png">
						<p>官方微信公众号</p>
					</div>

				</div>
			</div>
			<ul class="bank">
				<li>友情链接：</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
				<li>招商银行</li>
			</ul>
			<div class="loding">
				@E.SUN.BANK Copyright &#169 2014-2020 QingTeng All rights reserved. | 粤ICP备15030561号-3 玉山银行（中国）有限公司
			</div>
		</div>
	</div>
	
<script>



</script>
</body>

</html>